.edito,
.edito__wrap,
.edito__pre,
.edito__textarea,
.edito__code,
.edito__lines {
    position: relative;
    box-sizing: border-box;
}

.edito__pre {
    margin: 0;
    z-index: 0;
}

.edito__code,
.edito__textarea {
    overflow-x: scroll !important;
    overflow-y: scroll !important;
    overflow-wrap: normal;
    padding: 0 !important;
    height: 400px;
    -moz-tab-size: 4;
    tab-size: 4;
    white-space: pre;
}

.edito__code,
.edito__textarea,
.edito__lines {
    font-family: monospace;
    font-size: 13px;
    line-height: 15px;
}

.edito__code-status {
    color: #aaa;
    background: #f2f2f2;
    font-size: 11px;
    padding: 5px 10px;
    text-align: right;
    font-family: monospace;
    line-height: 14px;
}

.edito__textarea {
    border: none !important;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
	color: #aaa;
    text-shadow: 0px 0px 0px transparent;
    -webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	resize: none;
    outline: none;
}

.edito__textarea {
    width: calc(100% - 50px);
    z-index: 1;
}

.edito__code {
    padding-left: 5px !important;
}

.edito__lines {
    height: 1px;
    float: left;
    border-right: 1px solid #dedede;
    color: #a7a7a7;
    width: 45px;
    text-align: right;
    background: #f8f8f8;
    min-height: 400px;
    z-index: 1;
    max-height: 100%;
    overflow-y: hidden;
    overflow-x: scroll; 
}

.edito__lines-overlay {
    content: '';
    background: #f8f8f8;
    position: absolute;
    bottom: 25px;
    left: 0;
    width: 44px;
    height: 17px;
    z-index: 2;
}

.edito__lines-item {
	padding: 0 5px;
}

.edito__cursor {
    background: rgba(255,255,255,0.2);
    color: #5a5a5a;
}

.edito__error-line {
    background: #ffa79e !important;
    color: #fff;
}

.edito--theme-dark .edito__lines {
    background: #1e2533;
    border-right: 1px solid #131a27;
    color: #ccc;
}


.edito--theme-dark .edito__cursor {
    color: #ddd;
}

.edito--theme-dark .edito__code-status {
    color: #aaa;
    background: #1e2533;
    border-top: 1px solid #131a27;
}

.edito--theme-dark .edito__lines-overlay {
    background-color: #1e2533;
}

/*
.edito--theme-dark .edito__code::-webkit-scrollbar-thumb,
.edito--theme-dark .edito__textarea::-webkit-scrollbar-thumb {
    background: #12151b;
    border-radius: 0;
}

.edito--theme-dark .edito__code::-webkit-scrollbar,
.edito--theme-dark .edito__textarea::-webkit-scrollbar {
    background: #1e2533;
    border-radius: 0;
    width: 12px;
    height: 12px;
}
*/