#business-editor-wrap {
	position: relative;
}

#business-editor-wrap pre {
	margin: 0;
    background: #e8e8e8;
}

#business-editor-wrap textarea {
	box-sizing: border-box;
    border: none !important;
    width: 100%;
    margin: 0;
    padding: 0.5em;
    font-family: monospace;
    font-size: 13px;
    position: absolute;
    background: transparent;
	color: #aaa;
    text-shadow: 0px 0px 0px transparent;
    -webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	resize: none;
}

#business-editor-wrap code,
#business-editor-wrap textarea {
	height: 400px;
    box-sizing: border-box;
	-moz-tab-size: 4;
	tab-size: 4;
	padding-top: 0;
    padding-bottom: 0;
	white-space: pre;
}

#business-editor-wrap textarea {
	padding-left: 41px;
	overflow: auto;
    outline: none;
    box-sizing: border-box;
    margin-top: 15px;
}

#business-editor-wrap code {
	overflow: hidden;
}

#business-code-lines {
	position: relative;
    float: left;
	margin-left: -6px;
	margin-right: 5px;
    box-sizing: border-box;
    border-right: 1px solid #131a27;
    width: 36px;
    text-align: right;
    background: #1e2533;
    min-height: 400px;
}

.business-code-lines-item {
	padding: 0 5px;
}

.business-code-lines-item.error,
.business-code-lines-item.error:after {
	background: rgba(255,0,0,0.5) !important;
}

.business-code-lines-item.cursor,
.business-code-lines-item.cursor:after {
	background: rgba(255,255,255,0.2);
    color: #fff;
}

.business-code-lines-item.error:after,
.business-code-lines-item.cursor:after {
	content: '';
    width: 3000px;
    height: 15px;
    opacity: 0.6;
    pointer-events: none;
    position: relative;
    display: block;
    margin-top: -15px;
    margin-left: 30px;
}

#business-code-status {
    color: #aaa;
    background: #1e2533;
    padding: 5px 10px;
    text-align: right;
    margin-bottom: 10px;
    border: 1px solid #131a27;
    font-size: 12px;
    font-family: monospace;
    }