.edito,
.edito__wrap,
.edito__pre,
.edito__textarea,
.edito__code,
.edito__lines {
  position: relative;
  box-sizing: border-box;
}

.edito {
  height: 100%;
}

.edito__wrap {
  height: calc(100% - 25px);
}

.edito__wrap:after {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #f8f8f8;
  z-index: 1;
}

.edito__pre {
  margin: 0;
  z-index: 0;
  height: 100%;
}

.edito__code,
.edito__textarea {
  overflow-x: scroll !important;
  overflow-y: scroll !important;
  overflow-wrap: normal;
  padding: 0 !important;
  height: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  white-space: pre;
}

.edito__code,
.edito__textarea,
.edito__lines {
  font-family: monospace;
  font-size: 13px;
  line-height: 15px;
}

.edito__code-status {
  color: #aaa;
  background: #f8f8f8;
  font-size: 11px;
  padding: 5px 10px;
  text-align: right;
  font-family: monospace;
  line-height: 15px;
}

.edito__textarea {
  border: none !important;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  color: #aaa;
  text-shadow: 0px 0px 0px transparent;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  resize: none;
  outline: none;
}

.edito__textarea {
  width: calc(100% - 50px);
  min-height: 200px;
  z-index: 1;
}

.edito__code {
  min-height: 200px;
  padding-left: 5px !important;
}

.edito__lines {
  height: calc(100% - 25px);
  min-height: 200px;
  float: left;
  color: #a7a7a7;
  width: 45px;
  text-align: right;
  background: #f8f8f8;
  z-index: 1;
  overflow-y: hidden;
  overflow-x: scroll;
}

.edito__lines-overlay {
  content: '';
  background: #f8f8f8;
  position: absolute;
  bottom: 25px;
  left: 0;
  width: 44px;
  height: 15px;
  z-index: 2;
}

.edito__lines-item {
	padding: 0 5px;
}

.edito__cursor {
  background: rgba(200,200,200,0.2);
  color: #5a5a5a;
}

.edito__error-line {
  background: #ffa79e !important;
  color: #fff;
}

.edito__size,
.edito__position,
.edito__syntax {
  display: inline-block;
  margin-right: 10px;
}

.edito--theme-dark .edito__lines {
  background: #1e2533;
  color: #ccc;
}

.edito--theme-dark .edito__cursor {
  color: #ddd;
}

.edito--theme-dark .edito__code-status {
  color: #aaa;
  background: #1e2533;
}

.edito--theme-dark .edito__lines-overlay,
.edito--theme-dark .edito__wrap:after {
  background-color: #1e2533;
}
